<!--<p class="top">{{pcont}}</p>

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary" (click)="counterval()">click me</button>
   
     </div><br>
     <label>Count:</label>
    <p class="cnt">{{count}}</p><br><br>

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary" (click)="fillname()">Fill Name</button>
     </div><br>
     <label>FirstName</label>
     <input type="text" value="{{fname}}"><br><br>
     <div class="image">
     <img [src]="imgUrl" ></div>
     <br>
     <br>

    <form>
        <label>FirstName</label>
         <input type="text"  name="fn"><br>
         <label>LastName</label>
         <input type="text" name="ln"><br><br>
         <button (click)="formfillup()">submit</button>
     </form>

     <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            
          </tr>
        </tbody>
      </table>
 
    <br>
    <br>
    <h1>CoffeeShop</h1>
    <app-cofeeheadder></app-cofeeheadder>
    <app-cofeecrousal></app-cofeecrousal>
    <app-cofeefooter></app-cofeefooter> 

    <div class="counter">FirstName :
      <input id="fn" name="FirstName" [(ngModel)]="firstname">
      <p id="fname">FirstName : {{firstname}}</p>
    </div>

    <div *ngIf="able"  class="element">
      <p>some element</p>
    
    </div>
    <div class="even">
        Enter number:
    <input name="getnumber" [(ngModel)]="gnumber" class="number">
    <div *ngIf="evenodd()" class="even">
      <p class="ans"> Entered Number is even</p>
    </div>
  </div> 
    <div class="container">
      <div *ngFor="let numArray of numArrays">
      {{numArray}}
      </div>
      <div *ngFor="let StrArray of StrArrays">
        {{StrArray}}
      </div>
    </div>

    <div *ngFor="let StringArray of StringArrays">    
    <div *ngIf="StringArray.length>5">
        {{StringArray}}
    </div>
  </div><br>
    odd location String:
  <div *ngFor="let stringArray of stringArrays; index as i">
        
    <div *ngIf="i%2 != 0">
        {{stringArray}}
    </div>
  </div>-->
   
<!-- <app-header [itemreceived]=item></app-header>
 <app-header [arrayrecieves]="NumArrays"></app-header> 
 <app-header></app-header>-->
 

 <!-- <div  class="container">
   <p [ngClass]="item1 >10 ? 'red': 'yellow'">{{item1}}</p>
   <p [ngClass]="classfeature()">{{item1}}</p>   
 </div>

 <div *ngFor="let NumberArray of NumberArrays">
  <div  class="container">
    <p [ngClass]="NumberArray%2==0 ? 'red': 'yellow'">{{NumberArray}}</p>
    </div>
 </div>

 <div class="container">
    <button type="button" class="btn btn-danger" (click)="disable()">disable</button>
    <button type="button" class="btn btn-success" (click)="enable()">enable</button>
    {{str}}
</div>

<div class="container"><br><br>
  <button [ngStyle]="{background: 'pink'}">cilck</button>
  <button [ngStyle]="appendstyle">click</button><br><br>
  <table>
    <tr  class="heading">
      <td>Id</td>
      <td>Name</td>
      <td>UserName</td>
      <td>Email</td>
      <td>Adress</td>
      <td>Phone</td>
      <td>Website</td>
      <td>Company</td>
      <td>DELETE</td>
    </tr>
  <tr *ngFor="let employee of employees" [ngClass]="employee.id%2==0 ? 'green': 'pink'">
    <td>{{employee.id}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.username}}</td>
    <td>{{employee.email}}</td>

    <td >{{employee.address.city}}</td>
    <td>{{employee.phone}}</td>
    <td>{{employee.website}}</td>
    <td>{{employee.company.name}}</td>
    <td><button  [ngClass]="employee.id%2==0 ? 'green': 'pink'" (click)="deleteddata(employee)">delete</button></td>
  </tr>
</table>
</div> -->


<!-- <div class="container">
  <div class="row">
    <div class="col-sm">
     
      <img src=".././assets/image/rice.jpg" height="200px" width="200px">
      <button type="button" class="btn btn-success" (click)="addtocart()">Add to cart</button><br>
      <button type="button" class="btn btn-success" (click)="desciption()"    >description of product</button>
    </div>
    <div class="col-sm">
      <img src=".././assets/image/moong.jpg" height="200px" width="200px">
      <button type="button" class="btn btn-success" (click)="addtocart()">Add to cart</button><br>
      <button type="button" class="btn btn-success" (click)="desciption()"   >description of product</button>

    </div>
    <div class="col-sm">
      <img src=".././assets/image/chana.jpg" height="200px" width="200px">
      <button type="button" class="btn btn-success" (click)="addtocart()">Add to cart</button><br>
      <button type="button" class="btn btn-success" (click)="desciption()"   >description of product</button>
    </div>
    <div class="col-sm">
      <img src=".././assets/image/rajma.jpg" height="200px" width="200px">
      <button type="button" class="btn btn-success" (click)="addtocart()">Add to cart</button><br>
      <button type="button" class="btn btn-success" (click)="desciption()"  >description of product</button>
    </div>
    <div class="col-sm">
      <img src=".././assets/image/choli.jpg" height="200px" width="200px">
      <button type="button" class="btn btn-success" (click)="addtocart()"> Add to cart</button><br>
      <button type="button" class="btn btn-success" (click)="desciption()"  >description of product</button>
    
    </div>
  </div>
</div>
<app-product [cart]=count1></app-product>
 -->
 <h1>Items in Cart:{{c}}</h1>
 <table class="table">
  <thead>
    <tr >
      <th scope="col">id</th>
      <th scope="col">productname</th>
      <th scope="col">price</th>
      <th scope="col">quntity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cartItem of cartItems">
      <th scope="row">{{cartItem.id}}</th>
      <td>{{cartItem.productname}}</td>
      <td>{{cartItem.price}}</td>
      <td>{{cartItem.quntityavailable}}</td>
    </tr>
    <tr>
      <th scope="row">Total</th>
      <td>{{totalq}}</td>
      <td>{{bill}}</td>
    </tr>
   
  </tbody>
</table>
<app-product (descriptionofproduct)="additemtocart($event)"></app-product>