<!-- <app-reactform></app-reactform><br>
<app-reactive-adress-formm></app-reactive-adress-formm> -->
<!-- <h1>JsonData</h1>
<table>
    <tr>
        <th>id</th>
        <th>likes</th>
        <th>title</th>
        <th>body</th>
    </tr>
    <tr *ngFor="let d of hdata">
        <td>{{d.id}}</td>
        <td>{{d.likes}}</td>
        <td>{{d.title}}</td>
        <td>{{d.body}}</td>
    </tr>
</table> -->

<!-- <div class="container">
        id:<input type="number"  [(ngModel)]="id"><br>
        Enter Like: <input type="text" placeholder="{{ likes}}" name="likes" [(ngModel)]="likes" value="likes"><br>
        Enter body: <input type="text" placeholder="{{ body}}" name="body" [(ngModel)]="body"><br><br>
        <button type="button" (click)="getData(id)">getdata</button>   
</div> -->

