table,tr,td, th{ 
    border: 2px solid black;
    text-align: center;
   margin: 40px 90px 90px 90px;
    padding: 20px 20px 20px 20px;
    background-color: palevioletred;
}
h1{
    text-align: center;
    border: 2px solid black;
    height: 60px;
    width: 200px;
    margin-left: 800px;
}