<form #myForm="ngForm" (ngSubmit)="onsubmitofform(myForm.value)">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" [ngModel]="users.firstname" name="firstname" required>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name" [ngModel]="users.lastname" name="lastname" required>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="phone" [ngModel]="users.phone" name="phone" required>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="email" [ngModel]="users.email" name="email" required>
    </div>
  </div>
  <button type="submit" >submit</button>
</form>
<app-timer></app-timer>


<div class="container">
<input type="number" placeholder="enter number">
<button (click)="">submit</button>
